#default {
  .reset-indents {
    margin: 0;
    padding: 0;
  }

  .reset-indents-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .button {
    display: inline-flex;
    font-family: @font-main;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;

    @media @desktop {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
  }
}
