@color-main_light: lighten(#4dd599, 25%);
@color-main: #4dd599;

@color-contrast: #ffffff;

@gray_lighten: #f4f6f8;
@gray_light: #efefef;
@gray: #dfdfdf;
@gray_dark: #e8e8e8;
@gray_darken: #b4b4b4;
@gray_darkness: #767676;

@color-error: red;
@color-success: #38ca8d;
@color-info: #24b9f9;
@color-warning: #ff9b26;

@color-text_light: #5c5c5c;
@color-text: #020307;
@color-text_contrast: @color-contrast;

@color-button: @color-main;
@color-button_hover: #fff;
@color-button_active: #fff;
@color-button_disabled: #fff;
@color-button-text: #fff;
@color-button-text_active: #fff;

/** Variable media queries **/
@phone-size: 320px;
@tablet-size: 600px;
@tablet-landscape-size: 900px;
@desktop-size: 1240px;
@desktop-medium-size: 1440px;
@desktop-large-size: 1900px;

@to-phone-small-height-size: 650px;
@to-phone-small-size: 340px;
@to-tablet-size: 599px;
@to-tablet-landscape-size: 899px;
@to-desktop-size: 1239px;
@to-desktop-medium-size: 1439px;
@to-desktop-large-size: 1899px;

/** Fonts **/
@font: 'Cera';
@font-second: 'Bebas';

@font-main: '@{font}', sans-serif;
@font-secondary: '@{font-second}', sans-serif;

/** Path **/
@svg-path: '../assets/image/svg/';
