.grey {
  background-color: #c9d1d3;

  &_color {
    color: #c9d1d3;
    background-color: transparent;
  }
}

.green {
  background-color: #42b883;

  &_color {
    color: #42b883;
    background-color: transparent;
  }
}

.blue {
  background-color: #64c4ed;

  &_color {
    color: #64c4ed;
    background-color: transparent;
  }
}

.pink {
  background-color: #ffbbcc;

  &_color {
    color: #ffbbcc;
    background-color: transparent;
  }
}

.lime {
  background-color: #b6e6bd;

  &_color {
    color: #b6e6bd;
    background-color: transparent;
  }
}

.purple {
  background-color: #c355f5;

  &_color {
    color: #c355f5;
    background-color: transparent;
  }
}

.black {
  background-color: #110133;

  &_color {
    color: #110133;
    background-color: transparent;
  }
}

.red {
  background-color: #ff6464;

  &_color {
    color: #ff6464;
    background-color: transparent;
  }
}
