.container {
  box-sizing: border-box;
  width: auto;
  margin-right: 0;
  margin-left: 0;
  padding-right: 15px;
  padding-left: 15px;

  @media @tablet {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media @desktop {
    box-sizing: content-box;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
  }
}
