.login {
  padding: 25px;
  border: 1px solid grey;
  border-radius: 10px;

  &__field {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    padding: 7px;
    border: 1px solid grey;
  }

  &__button {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: darkgrey;
    cursor: pointer;
    transition: background-color 0.15s linear;

    &:hover {
      background-color: grey;
    }
  }
}
